.button1 {
    border-radius: 14px;
    background-color: rgba(207, 228, 21, 0.884);
  }
  
  .button2 {
    border-radius: 32px;
    background-color: rgba(252, 208, 14, 0.884);
  }
  
  button {
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  }
  
  body {
    background-image: linear-gradient(rgb(227, 250, 25),rgb(26, 247, 18));
  }